.logo-container {
  z-index: 0;
  width: 300px;
  height: 520px;
  opacity: 1;
  position: absolute;
  top: 30%;
  right: 10%;
  bottom: 0;
  left: auto;
  margin: auto;
  animation: zoomInDown 2.5s ease-in-out 1s;
  user-select: none;

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 1;
    transform: rotateZ(20deg) !important;
    z-index: 1;
  }
}

/* Existing SVG styles (if needed for future use) */
.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
}